* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0d56a4;
}

ul.header-social-networks {
  list-style: none;
  position: relative;
  top: 190px;
  left: 20px;
}

.social-networks {
  list-style: none;
  width: 100%;
  background: #0d56a4;
  padding: 20px;
}

.social-links {
  text-decoration: none;
  position: relative;
  left: 20px;
}

i.facebook-footer,
i.twitter-footer,
i.linkedin-footer {
  background: #fff;
  border-radius: 50%;
  padding: 7px;
  font-size: 20px;
  width: 30px;
  color: #0d56a4;
}

a > .f-1,
a > .t-1,
a > .linked-1 {
  background: #d0d2d3;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  width: 20px;
  color: #1a2a36;
}

.header li a {
  display: block;
  padding: 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 0 auto;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  width: 300px;
}

.main-header {
  width: 100%;
  height: 100%;
}

.inner-header {
  background: url(/img/Desktop/desktop-main-logo.png);
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  height: 370px;
  width: 100%;
}

.main-header p {
  font-size: 20px;
  color: #fff;
  padding-top: 30px;
  padding-left: 20px;
  text-transform: uppercase;
}

.lower-header-text {
  color: #d0d2d3;
  font-size: 15px;
  position: relative;
  left: 10px;
  text-decoration: none;
}

span.header-text-span {
  font-weight: bold;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  /* transition: max-height 0.2s ease-out; */
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  right: 20px;
}
.header .menu-icon .hamburger {
  background: #0d56a4;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .hamburger:after {
  width: 50%;
}

.header .menu-icon .hamburger:before,
.header .menu-icon .hamburger:after {
  background: #0d56a4;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .hamburger:before {
  top: 5px;
}

.header .menu-icon .hamburger:after {
  top: -5px;
}

/* ceo section */
.ceo-section {
  width: 80%;
  margin: 0 auto;
}

.first-text {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.first-text p {
  width: 50%;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  margin-bottom: 25px;
}

.third span {
  font-size: 25px;
}

.strong-text {
  color: #0d56a4;
  font-size: 30px;
  margin-bottom: 25px;
}

.ceo-part {
  width: 80%;
  margin: 0 auto;
}

.ceo-signature {
  margin-top: 20px;
}

img.single-img {
  width: 230px;
}

img.ceo-writing {
  width: 250px;
}

/* consolidated section */
.top-statement {
  background: #d0d2d3;
  /* padding: 20px; */
}

.inner-text {
  /* margin: 10px; */
  padding: 20px;
  position: relative;
  left: 30px;
}

#top-first {
  color: #0d56a4;
  font-size: 35px;
  width: 50%;
}

#top-second {
  margin-top: 10px;
  width: 50%;
}

span.statement-text {
  display: none;
}

/* consolidated table */
table {
  display: table;
  background: #fff;
  width: 100%;
  padding: 15px;
}

.table-head-text {
  color: #0d56a4;
}

.table-year-1 {
  background: #0d56a4;
}

.table-year-2 {
  background: #5b5a5a;
}

.td-data {
  border-bottom: 3px solid #0d56a4;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
  text-align: center;
  padding: 90px;
}

.header .menu-btn:checked ~ .menu-icon .hamburger {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .hamburger:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .hamburger:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .hamburger:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .hamburger:after {
  top: 0;
}

@media (min-width: 990px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* BANK SECTION */
.bank-section {
  margin-top: 30px;
}

.outer-carousel-section {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides img {
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The sliders */
.slider-container {
  text-align: center;
}
.slide {
  cursor: pointer;
  width: 40px;
  margin: 0 2px;
  background-color: #0d56a4;
  display: inline-block;
  transition: background-color 0.6s ease;
  outline: none;
}

.active,
.slide:hover {
  background-color: #0d56a4;
}

.slide:active {
  color: #0d56a4;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.bank-text {
  width: 80%;
  margin: 0 auto;
}

.text-first,
.text-second {
  margin-top: 20px;
  font-size: 15px;
}

.text-second {
  margin-bottom: 10px;
}

span.strong-text {
  color: #0d56a4;
  font-size: 25px;
  margin-bottom: 5px;
  display: block;
  width: 50%;
}
/* BOTTOM SECTION */
.bottom-section {
  width: 80%;
  margin: 0 auto;
  color: #0d56a4;
  padding-bottom: 20px;
}

div.bottom-text {
  width: 80%;
  text-transform: uppercase;
}

.bottom-text-first {
  text-transform: uppercase;
  font-size: 14px;
}

.bottom-text-second {
  font-size: 12px;
}

/* TABLET VIEW */
@media only screen and (min-width: 767px) and (max-width: 908px) {
  .main-header p {
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 25px;
  }

  .first-text {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .first-text p {
    width: 100%;
    font-size: 20px;
  }

  .letter-text {
    font-size: 17px;
  }

  div.strong-text {
    font-size: 35px;
    /* margin-bottom: 0px; */
  }

  .ceo-part {
    padding: 20px;
    padding-bottom: 0px;
  }

  .ceo-img {
    width: 50%;
  }

  .ceo-signature {
    float: right;
    position: relative;
    bottom: 260px;
    right: 30px;
  }
  .ceo-signature img {
    position: relative;
    left: 150px;
    top: 10px;
  }

  img.ceo-writing {
    width: 350px;
    position: relative;
    right: 10px;
  }

  #top-first {
    font-size: 30px;
    display: inline-block;
    position: relative;
    bottom: 200px;
    width: 100%;
  }

  #top-second {
    display: inline-block;
    position: relative;
    bottom: 200px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .inner-text {
    padding-top: 0px;
    position: relative;
    left: -20px;
  }

  .top-statement {
    width: 100%;
    height: 850px;
    padding: 50px;
  }

  .top-statement-2 {
    position: relative;
    top: 10px;
    left: 50px;
  }

  span.statement-text {
    display: inline;
  }

  .table {
    background: #fff;
    position: relative;
    bottom: 200px;
    padding: 20px;
    width: 90%;
  }

  .table-head-text {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .mySlides {
    width: 80%;
    margin: 0 auto;
  }

  .text-first {
    font-size: 16px;
  }

  .text-first span,
  .text-second span {
    font-size: 35px;
    width: 100%;
  }

  .text-second span {
    margin-bottom: 20px;
  }

  .social-networks {
    padding: 30px;
  }

  .social-links {
    bottom: 5px;
    position: relative;
    left: 40px;
  }

  .header-social-wrapper {
    position: relative;
    bottom: 30px;
    right: 25px;
  }
  .social-links a {
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    color: #0d56a4;
    margin-right: 6px;
  }

  a > .f-1,
  a > .t-1,
  a > .linked-1 {
    background: #d0d2d3;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    color: #1a2a36;
  }

  i.facebook-footer,
  i.twitter-footer,
  i.linkedin-footer {
    position: relative;
    top: 2px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 3px;
    width: 30px;
    color: #0d56a4;
  }

  ul.header-social-networks {
    position: relative;
    top: 170px;
  }

  .lower-header-text {
    color: #d0d2d3;
    font-size: 20px;
    position: relative;
    top: 23px;
    left: 70px;
    text-decoration: none;
  }

  .header li a {
    width: 40%;
    font-size: 20px;
  }

  .header .menu-icon {
    position: relative;
    right: 60px;
  }

  .bottom-text .bottom-text-first {
    font-size: 13px;
  }

  .bottom-section {
    margin-top: 50px;
  }

  .text-second {
    margin-bottom: 0px;
  }
}

/* TABLET VIEW PART 2 */
@media only screen and (min-width: 909px) and (max-width: 989px) {
  .inner-header {
    background-size: 80%;
  }

  .inner-header > p {
    position: relative;
    top: 10px;
    left: 120px;
    font-size: 30px;
  }

  .first-text {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .first-text p {
    width: 100%;
    font-size: 25pxs;
  }

  .letter-text {
    font-size: 17px;
  }

  div.strong-text {
    font-size: 35px;
    /* margin-bottom: 0px; */
  }

  .ceo-part {
    padding: 20px;
    padding-bottom: 0px;
  }

  .ceo-img {
    width: 50%;
  }

  .ceo-signature {
    float: right;
    position: relative;
    bottom: 280px;
    right: 80px;
  }
  .ceo-signature img {
    position: relative;
    left: 150px;
    top: 10px;
  }

  img.ceo-writing {
    width: 400px;
    position: relative;
    right: 10px;
  }

  #top-first {
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom: 200px;
    width: 100%;
  }

  #top-second {
    display: inline-block;
    position: relative;
    bottom: 200px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .inner-text {
    width: 100%;
    padding-top: 0px;
    position: relative;
    left: -20px;
  }

  .top-statement {
    width: 100%;
    height: 850px;
    padding: 50px;
  }

  .top-statement-2 {
    position: relative;
    bottom: 20px;
    left: 70px;
  }

  span.statement-text {
    display: inline;
  }

  .table {
    background: #fff;
    position: relative;
    bottom: 200px;
    padding: 20px;
    width: 90%;
  }

  .table-head-text {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .mySlides {
    width: 80%;
    margin: 0 auto;
  }

  .text-first {
    font-size: 16px;
  }

  .text-first span,
  .text-second span {
    font-size: 40px;
    width: 100%;
  }

  .text-second span {
    margin-bottom: 20px;
  }

  .text-first,
  .text-second {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .social-networks {
    padding: 30px;
  }

  .social-links {
    bottom: 5px;
    position: relative;
    left: 55px;
  }

  .header-social-wrapper {
    position: relative;
    bottom: 30px;
    right: 50px;
  }
  .social-links a {
    background: #fff;
    border-radius: 50%;
    padding: 12px;
    color: #0d56a4;
    margin-right: 6px;
  }

  a > .f-1,
  a > .t-1,
  a > .linked-1 {
    background: #d0d2d3;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    color: #1a2a36;
  }

  i.facebook-footer,
  i.twitter-footer,
  i.linkedin-footer {
    position: relative;
    top: 2px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 2px;
    width: 30px;
    color: #0d56a4;
  }

  ul.header-social-networks {
    position: relative;
    top: 160px;
  }

  .lower-header-text {
    color: #d0d2d3;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 160px;
    text-decoration: none;
  }

  .header li a {
    width: 40%;
    font-size: 20px;
  }

  .header-social-links {
    position: relative;
    left: 140px;
  }

  .header .menu-icon {
    position: relative;
    right: 60px;
  }

  .bottom-text-first {
    font-size: 16px;
  }

  .bottom-text-second {
    font-size: 14px;
  }

  .bottom-section {
    margin-top: 50px;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 990px) {
  .header {
    height: 50px;
  }

  .header .logo {
    position: relative;
    left: 50px;
  }

  .header .menu {
    height: 50px;
    background: none;
  }

  ul.menu {
    margin-right: 300px;
  }

  .header li a {
    position: relative;
    top: 20px;
    display: inline;
    font-size: 15px;
    color: #0d56a4;
    padding: 0px 10px 0px 20px;
    border-bottom: 2px solid transparent;
  }

  .menu a:hover {
    border-bottom: 3px solid #0d56a4;
    transition: border 0.2s linear;
  }

  .main-header {
    background: url(/img/Desktop/desktop-main-logo.png);
    background-size: cover;
    height: 900px;
  }

  .main-header h3 {
    font-size: 40px;
    position: relative;
    top: 190px;
    left: 400px;
  }

  .header-social {
    display: inline-block;
    position: relative;
    right: 0;
  }

  ul.header-social-networks {
    padding: 50px;
    list-style: none;
  }

  .p.header-social-links a {
    text-decoration: none;
    position: relative;
  }

  .ceo-section {
    width: 60%;
  }

  .first-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .letter-text {
    font-size: 16px;
  }

  div.strong-text {
    font-size: 30px;
    padding: 10px;
    width: 80%;
  }

  .ceo-part {
    padding: 20px;
    padding-bottom: 0px;
  }

  img.single-img {
    width: 300px;
  }

  .ceo-signature {
    float: right;
    position: relative;
    bottom: 315px;
    right: 300px;
  }

  img.ceo-writing {
    width: 70%;
    position: relative;
    left: 200px;
  }

  #top-first {
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom: 200px;
  }

  #top-second {
    display: inline-block;
    position: relative;
    bottom: 200px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inner-text {
    margin-top: 0px;
  }

  .top-statement {
    width: 100%;
    padding: 70px;
    height: 950px;
  }

  .top-statement-2 {
    position: relative;
    top: 130px;
    left: 400px;
  }

  .table {
    background: #fff;
    position: relative;
    bottom: 190px;
    left: 25px;
    padding: 25px;
    width: 50%;
  }

  .table-head-text {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .mySlides {
    width: 80%;
    margin: 0 auto;
  }

  .bank-text {
    width: 42%;
    margin: 0 auto;
  }

  .text-first {
    font-size: 16px;
  }

  .text-first span,
  .text-second span {
    font-size: 16px;
    margin-bottom: 10px;
  }
  span.strong-text {
    font-size: 20px;
  }

  .social-networks {
    padding: 30px;
  }

  .social-links {
    bottom: 5px;
    left: 500px;
  }

  div.bottom-section {
    margin-top: 70px;
    position: relative;
    left: 360px;
  }

  .social-links a {
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    color: #0d56a4;
    margin-right: 6px;
  }

  a > .fab.fa-facebook-f,
  a > .fab.fa-twitter,
  a > .fab.fa-linkedin-in {
    width: 20px;
    background: #fff;
    padding: 5px;
    font-size: 25px;
    color: #0d56a4;
    position: relative;
    right: 5px;
    top: 3px;
  }

  .bottom-text .bottom-text-first {
    font-size: 13px;
  }
}
